{form form}
	<div class="row">
		<div class="input-field col s12">
			{input message, class => 'message'}
		</div>
		<div class="center-align">
			{input send class => 'blue lighten-1 btn'}
		</div>
	</div>
{/form}
