<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<title>{ifset title}{include title|stripHtml} | {/ifset}PocketPilot.cz</title>
</head>

<body>
	{if !isset($hideNavbar) || !(isset($hideNavbar) && $hideNavbar === true)}
		<nav>
			<div class="nav-wrapper blue darken-2">
				<a href="{plink Dashboard:}" class="brand-logo">Pocket Pilot</a>
				<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{plink Dashboard:}">Dashboard</a></li>
					<li><a href="{plink Tracks:}">Plánování tras</a></li>
					<li><a href="#">Návody</a></li>
					<li><a href="#">Spárování</a></li>
					<li><a href="#">Nahlásit problém</a></li>
				</ul>
			</div>
		</nav>

		<ul class="sidenav" id="mobile-menu">
			<li><a href="{plink Dashboard:}">Dashboard</a></li>
			<li><a href="{plink Tracks:}">Plánování tras</a></li>
			<li><a href="#">Návody</a></li>
			<li><a href="#">Spárování</a></li>
			<li><a href="#">Nahlásit problém</a></li>
		</ul>
	{/if}
	{include content}

	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/app.js"></script>
</body>
</html>
