includes:
	- ./vendor/phpstan/phpstan-nette/extension.neon

parameters:
	autoload_directories:
		- ./app
	paths:
		- ./app
	universalObjectCratesClasses:
		- Nette\Security\IIdentity
	inferPrivatePropertyTypeFromConstructor: true
	ignoreErrors:
		- '%Parameter #1 $user of method Nette\\Security\\User::login() expects Nette\\Security\\IIdentity|string, PP\\User\\PasswordCredentials given.%'
		- '%Parameter #1 $user of method Nette\\Security\\User::login() expects Nette\\Security\\IIdentity|string, PP\\User\\FacebookCredentials given.%'
		- '%Parameter #1 $user of method Nette\\Security\\User::login() expects Nette\\Security\\IIdentity|string, PP\\User\\TokenCredentials given.%'
