parameters:
	facebook:
		dgv: 'v2.10'
	scriptsDir: /dist
	manifestDir: %appDir%/../www/dist


application:
	errorPresenter: Error
	mapping:
		*: PP\*Module\Presenters\*Presenter
		APIv1: PP\API\*Presenter

session:
	expiration: 14 days
	name: 'session'


services:
	authenticator: PP\Authenticator
	dashboardRead: PP\Dashboard\DashboardRead
	dirResolver: PP\DirResolver(%appDir%, %scriptsDir%, %manifestDir%)
	facebook: Facebook\Facebook( {app_id: %facebook.app_id%, app_secret: %facebook.app_secret%, default_graph_version: %facebook.dgv%} )
	router: PP\RouterFactory::createRouter
	- PP\Airfield\AirfieldRead
	- PP\Airfield\AirfieldsImporter
	- PP\Airspace\AirspaceRead
	- PP\Controls\AirfieldsControlFactory
	- PP\Controls\AirfieldsImportFormFactory
	- PP\Controls\ApiKeyFormFactory
	- PP\Controls\ContactFormFactory
	- PP\Controls\LoginFormFactory
	- PP\Controls\NavbarControlFactory
	- PP\Controls\NewPasswordFormFactory
	- PP\Controls\PasswordRecoveryFormFactory
	- PP\Controls\RegisterFormFactory
	- PP\Controls\SaveTrackFormFactory
	- PP\Controls\WebpackControlFactory
	- PP\FacebookService
	- PP\SignModel
	- PP\Track\TrackCreate
	- PP\Track\TrackDelete
	- PP\Track\TrackRead
	- PP\Track\TrackUpdate
	- PP\User\FacebookAuthenticator
	- PP\User\PasswordAuthenticator
	- PP\User\PasswordReset
	- PP\User\TokenAuthenticator
	- PP\User\UserRead
	- PP\User\UserRegister
	- PP\User\UserUpdate


http:
	csp:
		default-src: none
		img-src:
			- self
			- play.google.com
			- *.openstreetmap.org
			- *.openflightmaps.org
			- 'data:'
		script-src:
			- strict-dynamic
			- nonce
			- unsafe-inline
		style-src:
			- self
			- unsafe-inline
		connect-src:
			- self
			- *.openstreetmap.org
		frame-ancestors:
			- none
	frames: DENY


extensions:
	gettextTranslator: GettextTranslator\Extension

gettextTranslator:
	files:
		all: %appDir%/i18n
