parameters:
	facebook:
		dgv: 'v2.10'
	scriptsDir: /dist
	manifestDir: %appDir%/../www/dist


application:
	errorPresenter: Error
	mapping:
		*: PP\*Module\Presenters\*Presenter
		APIv1: PP\API\*Presenter

session:
	expiration: 14 days


services:
	authenticator: PP\Authenticator
	dashboardRead: PP\Dashboard\DashboardRead
	dirResolver: PP\DirResolver(%appDir%, %scriptsDir%, %manifestDir%)
	facebook: Facebook\Facebook( {app_id: %facebook.app_id%, app_secret: %facebook.app_secret%, default_graph_version: %facebook.dgv%} )
	facebookAuthenticator: PP\User\FacebookAuthenticator
	facebookService: PP\FacebookService
	passwordAuthenticator: PP\User\PasswordAuthenticator
	passwordReset: PP\User\PasswordReset
	router: PP\RouterFactory::createRouter
	signModel: PP\SignModel
	tokenAuthenticator: PP\User\TokenAuthenticator
	trackCreate: PP\Track\TrackCreate
	trackDelete: PP\Track\TrackDelete
	trackRead: PP\Track\TrackRead
	trackUpdate: PP\Track\TrackUpdate
	userRead: PP\User\UserRead
	userRegister: PP\User\UserRegister


http:
	csp:
		script-src:
			- nonce


extensions:
	gettextTranslator: GettextTranslator\Extension

gettextTranslator:
	files:
		all: %appDir%/i18n
