parameters:
	facebook:
		dgv: 'v2.10'


application:
	errorPresenter: Error
	mapping:
		*: PP\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: PP\RouterFactory::createRouter
	userModel: PP\User\UserModel
	userRead: PP\User\UserRead
	userUpdate: PP\User\UserUpdate
	userRegister: PP\User\UserRegister
	userAuthenticator: PP\User\UserPasswordAuthenticator
	userFacebookAuthenticator: PP\User\UserFacebookAuthenticator
	authenticator: PP\Authenticator
	facebook: Facebook\Facebook( {app_id: %facebook.app_id%, app_secret: %facebook.app_secret%, default_graph_version: %facebook.dgv%} )
