{block content}
{control navbar}
<div class="container">
    <div class="row card-panel hoverable">
        <div class="row">
            {control form}
        </div>
    </div>
    <div class="row card-panel hoverable">
        <div class="row">
            {control airfields}
        </div>
    </div>
</div>
