{form form}
	<div class="input-field row center">
		{label email, class => 'black-text relative'}
		{input email, class => 'center'}
	</div>
	<div class="input-field row center">
		{label token, class => 'black-text relative'}
		{input token, class => 'center'}
	</div>
	<div class="input-field row center">
		{input submit, class => 'center blue lighten-1 btn'}
	</div>
{/form}
