<nav>
	<div class="nav-wrapper blue darken-2">
		<a href="{plink Dashboard:}" class="brand-logo">Pocket Pilot</a>
		<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{plink Dashboard:}"><i class="fas fa-table"></i>{_'Dashboard'}</a></li>
			<li><a href="{plink Tracks:}"><i class="fas fa-map-marked-alt"></i>{_'Tracks planning'}</a></li>
			<li><a href="{plink Guide:}"><i class="fas fa-book-open"></i>{_'Guide'}</a></li>
			<li><a href="{plink Sync:}"><i class="fas fa-sync-alt"></i>{_'Pair device'}</a></li>
			<li><a href="{plink Contact:}"><i class="fas fa-envelope-open"></i>{_'Contact form'}</a></li>
			<li><a href="{plink Sign:logout}"><i class="fas fa-sign-out-alt"></i>{_'Sign out'}</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-menu">
	<li><a href="{plink Dashboard:}">{_'Dashboard'}</a></li>
	<li><a href="{plink Tracks:}">{_'Tracks planning'}</a></li>
	<li><a href="{plink Guide:}">Guide'}</a></li>
	<li><a href="{plink Sync:}">{_'Pair device'}</a></li>
	<li><a href="{plink Contact:}">{_'Contact form'}</a></li>
	<li><a href="{plink Sign:logout}">{_'Sign out'}</a></li>
</ul>
