@import '../../node_modules/materialize-css/sass/components/_color-variables.scss';
@import '../../node_modules/materialize-css/sass/components/_variables.scss';

.btn-action {
  @media #{$medium-and-down} {
    margin-bottom: 0.5rem;
  }
  @media #{$small-and-down} {
    width: 4rem;
  }
}
