@import 'forms';
@import 'buttons';
@import 'scrollbar';
@import '../../node_modules/materialize-css/sass/materialize.scss';
@import '../../node_modules/leaflet/dist/leaflet';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: url(images/background-clouds.jpg) no-repeat;
  background-size: cover;
}

nav {
  margin-bottom: 15px;
  a > svg {
    color: #fff;
    margin: 0 5px;
  }
  .brand-logo {
    padding-left: 15px;
    @media #{$small-and-down} {
      font-size: 1.8rem;
    }
  }
}

.logo {
  background-image: url(images/logo.svg);
  margin: 0 auto;
  box-shadow: 10px 10px 0 0 rgba(51, 51, 51, 0.1);
  width: 150px;
  height: 150px;
}

.badge {
  display: inline-block;
  img {
    height: 80px;
    margin-top: 10px;
    width: auto;
  }
}

.flash {
  border-radius: 2px;
  top: 35px;
  width: 10%;
  margin: 10px auto;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default;
}

.cross-line {
  z-index: 1;
  position: absolute;
  left: 36.5%;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  width: 27%;
  height: 115%;
  overflow: hidden;
}

.relative {
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
}

.dashboard .card-content {
  height: 200px;
  li {
    list-style-type: square;
    margin-left: 2rem;
  }
}

.guide .card-content li {
  list-style-type: square;
  margin-left: 2rem;
}

textarea.message {
  min-height: 10rem;
  resize: vertical;
}

.card-panel {
  @media #{$small-and-down} {
    padding: 10px;
  }
}

.tabs {
  .tab {
    a {
      color: #64B5F6;
    }

    a:hover {
      color:#42A5F5;
    }

    a:focus.active {
      color:#42A5F5;
      background-color: transparent;
    }

    a.active {
      color:#42A5F5;
      background-color: transparent;
    }
  }
  .indicator {
    background-color:#42A5F5;
  }
}
