body {
  background: rgb(204,204,204);
  @media print {
    body, .a5 {
      margin: 0;
      box-shadow: none;
    }
    input {
      border: 0;
    }
  }
}
.a5 {
  background: white;
  width: 210mm;
  min-height: 148mm;
  display: block;
  margin: 0 auto 0.5cm;
  padding: 10mm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
table {
  width: 50%;
  font-family: "Arial", Arial, sans-serif;
  font-size: 0.9em;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  height: 1em;
}
.info {
  height: 4em;
  vertical-align: top;
  text-align: center;
  & .label {
    font-size: 0.75em;
  }
  & .value {
    margin-top: 10px;
  }
}
.wpt {
  text-align: center;
  height: 2em;
  & td {
    min-width: 10mm;
  }
}
.speed {
  width: 3em;
  margin: 10px auto 0 auto;
  text-align: right;
}
.eta {
  width: 20%;
}
