{form form}
<div class="row">
    <p>{_'CSV import with points for reverse geocoding.'}</p>
    <p>{_'File header'}: name;description;longitude;latitude</p>
</div>
<div class="input-field row center">
    {input file, class => 'center'}
</div>
    <div class="input-field row center">
        {input submit, class => 'center blue lighten-1 btn'}
    </div>
{/form}
