<nav>
	<div class="nav-wrapper blue darken-2">
		<a href="{plink Dashboard:}" class="brand-logo">Pocket Pilot</a>
		<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{plink Dashboard:}">Dashboard</a></li>
			<li><a href="{plink Tracks:}">Plánování tras</a></li>
			<li><a href="#">Návody</a></li>
			<li><a href="#">Spárování</a></li>
			<li><a href="#">Nahlásit problém</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-menu">
	<li><a href="{plink Dashboard:}">Dashboard</a></li>
	<li><a href="{plink Tracks:}">Plánování tras</a></li>
	<li><a href="#">Návody</a></li>
	<li><a href="#">Spárování</a></li>
	<li><a href="#">Nahlásit problém</a></li>
</ul>
