{form form}
	{label name}
	{input name}
	{inputError name}
	{input save, class => 'blue lighten-1 btn modal-close'}
	<a class="waves-effect blue lighten-1 btn modal-close">
		<span>{_'Cancel'}</span>
	</a>
{/form}
