@import 'map';
@import 'forms';
@import 'buttons';
@import '../../../node_modules/materialize-css/sass/materialize.scss';
@import '../../../node_modules/leaflet/dist/leaflet';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

nav {
  margin-bottom: 15px;
  a > i {
    font-size: 1rem;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
  }
  .brand-logo {
    padding-left: 15px;
  }
}

div.flash {
  border-radius: 2px;
  top: 35px;
  width: 10%;
  margin: 10px auto;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default;
}
