@import './marker.scss';
@import "../../../node_modules/materialize-css/sass/components/_color-variables.scss";
@import '../../../node_modules/materialize-css/sass/components/_variables.scss';

#app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map {
  position: relative;
  height: 100%;
}

div.info {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background: white;
  width: 400px;
  max-height: 400px;
  overflow: auto;
  @media #{$small-and-down} {
    min-width: auto;
    width: 100%;
    margin: 0;
  }
  & > table tr {
    td, th {
      padding: 0;
      font-size: 12px;
      &:first-child {
        width: 55%;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
      {
        text-align: right;
        width: 15%;
      }
    }
  }
  & > .controls-speed {
    padding-top: 10px;
    & > input {
      width: 2.2rem;
      height: 2rem;
    }
  }
  & > .controls-buttons {
    padding-top: 10px;
  }
}
