@mixin circle-marker-size($size) {
  width: $size + px;
  height: $size + px;
  margin-top: ($size/2)*(-1) + px;
  margin-left: ($size/2)*(-1) + px;
}

.map-marker-circle {
  background: transparent;
  border-radius: 50%;
  .zoom-8 & {
    @include circle-marker-size(10);
    border: 2px solid black;
  }
  .zoom-9 & {
    @include circle-marker-size(20);
    border: 3px solid black;
  }
  .zoom-10 & {
    @include circle-marker-size(30);
    border: 3px solid black;
  }
  .zoom-11 & {
    @include circle-marker-size(40);
    border: 4px solid black;
  }
  .zoom-12 & {
    @include circle-marker-size(50);
    border: 4px solid black;
  }
}

.map-marker-pulse {
  animation: pulse 1.2s infinite;
}

.map-marker-pulse-init {
  animation: pulse 1.2s 1;
}

.leaflet-popup-content {
  & button.remove {
    margin: 0 3px;
  }
  & button.finish {
    display: none;
  }
  & > .last-wpt > button.finish {
    display: inline-block;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
