{form form class => 'col s12'}
	<blockquote>
		<ul class="errors" n:if="$form->hasErrors()">
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>
	</blockquote>
	<div class="row">
		<div class="input-field col s12">
            {input email}
		</div>
		<div class="input-field col s12">
            {input password}
			<a class="pink-text" href="{plink PasswordRecovery:}"><b>{_'Forgot Password?'}</b></a>
		</div>
        {input send class => 'blue lighten-1 btn', style => 'width: 90%'}
	</div>
	<div class="row">
		<p>{_'Not a member?'} <a href="{plink Sign:register}">{_'Sign up'}</a></p>
		<p>{_'Or login with'} <a href="{$fbLoginUrl}"><i class="fab fa-facebook-f"></i></a></p>
	</div>
	<a class="badge hide-on-large-only show-on-medium-and-down" href='https://play.google.com/store/apps/details?id=cz.pocketpilot.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
		<img class="badge" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/{if $lang === 'cs'}cs{else}en{/if}_badge_web_generic.png'/>
	</a>
{/form}
